body {font-family: Arial, Helvetica, sans-serif;
background-color: rgb(13, 62, 2);
color:#ccc;
}
/* Bordered form */
form {
border: 3px solid #f1f1f1;
padding: 12px;
border-radius: 5px;
}
/* Full-width inputs */
input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
border-radius: 15px;
}
input[type=text]:hover, input[type=password]:hover {
    background-color: rgb(244, 226, 226);
}
/* Set a style for all buttons */
button {
background-color: #175db3;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
border-radius: 5px;
}
/* Add a hover effect for buttons */
button:hover {
opacity: 0.75;
}
/* Add padding to containers */
.container {
width: 300px;
padding: 16px;
margin-left: auto;
margin-right: auto;
}
